<template lang="pug">
  q-page
    div
      p NODE_ENV: {{ env.NODE_ENV }}
      p CLIENT: {{ env.CLIENT }}
      p SERVER: {{ env.SERVER }}
      p DEV: {{ env.DEV }}
      p PROD: {{ env.PROD }}
      p MODE: {{ env.MODE }}
      p VUE_ROUTER_MODE: {{ env.VUE_ROUTER_MODE }}
      p APP_URL: {{ env.APP_URL }}
      p SENTRY_DSN: {{ env.SENTRY_DSN && true || false }}
    div
      q-btn(label='Will rise an exception!' @click="raiseException")
</template>

<script>
export default {
  name: 'TestComponent',

  computed: {
    env () {
      return process.env
    }
  },

  methods: {
    raiseException () {
      throw Error('Test exception')
    }
  }
}
</script>

<style scoped>
</style>
