<template lang="pug">
  q-header(elevated)
    q-toolbar
      q-btn(flat dense round @click="toggleDrawer" aria-label="Menu")
        q-icon(name="menu")
      q-toolbar-title Quasar App
      div Quasar v{{$q.version}}
</template>

<script>
export default {
  name: 'LayoutHeader',
  methods: {
    toggleDrawer () {
      this.$emit('toggle-drawer')
    }
  }
}
</script>

<style scoped>

</style>
