<template lang="pug">
  q-drawer(v-model="isOpen" bordered content-class="bg-grey-2")
    q-list
      q-item-label(header) Essential Links
      q-item(clickable :to="{name: 'home'}" exact)
        q-item-section(avatar)
          q-icon(name="home")
        q-item-section
          q-item-label Home
          q-item-label(caption) Back to main page
      q-item(clickable :to="{name: 'test'}" exact)
        q-item-section(avatar)
          q-icon(name="developer_mode")
        q-item-section
          q-item-label Test component
          q-item-label(caption) Go to test component
      q-item(clickable tag="a" target="_blank" href="https://quasar.dev")
        q-item-section(avatar)
          q-icon(name="school")
        q-item-section
          q-item-label Docs
          q-item-label(caption) quasar.dev
      q-item(clickable tag="a" target="_blank" href="https://github.quasar.dev")
        q-item-section(avatar)
          q-icon(name="code")
        q-item-section
          q-item-label Github
          q-item-label(caption) github.com/quasarframework
      q-item(clickable tag="a" target="_blank" href="https://chat.quasar.dev")
        q-item-section(avatar)
          q-icon(name="chat")
        q-item-section
          q-item-label Discord Chat Channel
          q-item-label(caption) chat.quasar.dev
      q-item(clickable tag="a" target="_blank" href="https://forum.quasar.dev")
        q-item-section(avatar)
          q-icon(name="record_voice_over")
        q-item-section
          q-item-label Forum
          q-item-label(caption) forum.quasar.dev
      q-item(clickable tag="a" target="_blank" href="https://twitter.quasar.dev")
        q-item-section(avatar)
          q-icon(name="rss_feed")
        q-item-section
          q-item-label Twitter
          q-item-label(caption) @quasarframework
      q-item(clickable tag="a" target="_blank" href="https://facebook.quasar.dev")
        q-item-section(avatar)
          q-icon(name="public")
        q-item-section
          q-item-label Facebook
          q-item-label(caption) @QuasarFramework
</template>

<script>
export default {
  name: 'LayoutDrawer',
  props: {
    isOpen: {
      type: Boolean,
      required: true
    }
  }
}
</script>
