<template lang="pug">
  q-layout(view="lHh Lpr lFf")
    layout-header(@toggle-drawer="leftDrawerOpen=!leftDrawerOpen")
    layout-drawer(:is-open="leftDrawerOpen")
    q-page-container
      router-view
</template>

<script>
import LayoutHeader from './LayoutHeader'
import LayoutDrawer from './LayoutDrawer'

export default {
  name: 'Layout',
  components: { LayoutDrawer, LayoutHeader },
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  }
}
</script>

<style>
</style>
